<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellohao.dao.GroupMapper">


<!--    <select id="grouplist" resultType="cn.hellohao.entity.Group">-->
<!--        SELECT-->
<!--        *-->
<!--        FROM-->
<!--        `group`-->
<!--    </select>-->


    <select id="grouplist" resultType="cn.hellohao.entity.Group" parameterType="integer">
        SELECT
        g.id,g.group_name,g.key_id,g.user_type,g.compress,k.storage_type,k.key_name
        FROM
        `group` as g LEFT JOIN `keys` as k on g.key_id = k.id
        where 1=1
        <if test="usertype!=null">
            and g.user_type=#{usertype}
        </if>

    </select>


    <select id="idgrouplist" parameterType="integer" resultType="cn.hellohao.entity.Group">
        SELECT
            *
        FROM
            `group`
        where id = #{id}
    </select>

    <insert id="addgroup" parameterType="cn.hellohao.entity.Group">
        insert into `group` (id,group_name,key_id) values (null,#{groupname},#{keyid})
    </insert>

    <select id="GetCountFroUserType" parameterType="integer" resultType="integer">
        SELECT
            count(id)
        FROM
            `group`
        where user_type = #{usertype}
    </select>

    <delete id="delegroup" parameterType="integer">
        delete from `group` where id=#{id}
    </delete>

    <update id="setgroup" parameterType="cn.hellohao.entity.Group">
        UPDATE `group` SET group_name=#{groupname},key_id=#{keyid} where id = #{id};
    </update>

    <select id="getGroupFroUserType" parameterType="integer" resultType="cn.hellohao.entity.Group">
        SELECT
            *
        FROM
            `group`
        where user_type = #{usertype}
    </select>

</mapper>