<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellohao.dao.ImgTempMapper">

    <resultMap id="BaseResultMap" type="cn.hellohao.entity.ImgTemp">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="img_uid" column="img_uid" jdbcType="VARCHAR"/>
            <result property="deltime" column="deltime" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,img_uid,del_time
    </sql>
<!--    点赞累计增加-->
    <update id="addGreatForImguid" >
        UPDATE `user`
        <set>
            <if test="great != null">
                `great` = great+1,
            </if>

        </set>
        where img_uid=#{img_uid}
    </update>

<!--    根据日期查询要删除的图片-->
    <select id="selectDelImgUidList" parameterType="string" resultType="cn.hellohao.entity.Images">
        SELECT
        img_data.img_uid,
        img_data.source,
        img_data.img_name
        FROM
            tbed.img_temp LEFT JOIN img_data on tbed.img_temp.img_uid = img_data.img_uid
        where tbed.img_temp.del_time &lt;=  STR_TO_DATE(#{datatime}, '%Y-%m-%d %H:%i:%s')
    </select>

<!--    此sql会同时删除img_data 和 tbed.img_temp两个表的数据 -->
    <delete id="delImgAndExp" parameterType="string">
        DELETE tbed.img_temp,tbed.img_data FROM tbed.img_temp LEFT JOIN tbed.img_data ON img_temp.img_uid = tbed.img_data.img_uid
        WHERE tbed.img_data.img_uid =#{imgUid}
    </delete>

    <insert id="insertImgExp" parameterType="cn.hellohao.entity.ImgTemp" >
        insert into tbed.img_temp (id,img_uid,`del_time`)
        values (null,#{imgUid},#{deltime})
    </insert>


</mapper>
