<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellohao.mapper.KeysMapper">


    <!-- 查询对象存储key-->
    <select id="selectKeys" parameterType="string" resultType="cn.hellohao.model.entity.StorageKey">
        SELECT
            *
        FROM
            storage_key
        WHERE
            id = #{id}
    </select>
    <!-- 查询添加的所有对象存储-->
    <select id="getStorageName"  resultType="cn.hellohao.model.entity.StorageKey">
        select id,key_name,storage_type from  storage_key
    </select>

    <!-- 查询对象存储有多少种-->
    <select id="getStorage"  resultType="cn.hellohao.model.entity.StorageKey">
        SELECT id,storage_type,access_key,access_secret,bucket_name,endpoint,
               CASE WHEN storage_type=1 THEN '网易云'
                    WHEN storage_type=2 THEN '阿里云'
                    WHEN storage_type=3 THEN '又拍云'
                    WHEN storage_type=4 THEN '七牛云'
                    WHEN storage_type=5 THEN '本地'
                    WHEN storage_type=6 THEN '腾讯云'
                    WHEN storage_type=7 THEN 'FTP'
                    WHEN storage_type=8 THEN 'UFile'
                    ELSE  '未知' END AS storageName,
               key_name
        FROM  storage_key  GROUP BY storage_type,id,key_name,access_key,access_secret,bucket_name,endpoint

    </select>

    <!-- 查询对象存储key-->
    <select id="getKeys" parameterType="integer" resultType="cn.hellohao.model.entity.StorageKey">
        SELECT
            *
        FROM
             storage_key
    </select>


</mapper>