<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hellohao.mapper.UploadConfigMapper">

    <select id="getUpdateConfig" resultType="cn.hellohao.model.entity.UploadConfig">
        select * from  upload_config where id = '1'
    </select>

    <update id="setUpdateConfig" parameterType="cn.hellohao.model.entity.UploadConfig">
        UPDATE  upload_config
        <set>
            <if test="filesizetourists != null">
                file_size_tourists = #{filesizetourists},
            </if>
            <if test="filesizeuser != null">
                file_size_user = #{filesizeuser},
            </if>
            <if test="imgcounttourists != null">
                img_count_tourists = #{imgcounttourists},
            </if>
            <if test="imgcountuser != null">
                img_count_user = #{imgcountuser},
            </if>
            <if test="suffix != null">
                suffix = #{suffix},
            </if>
            <if test="urlType != null">
                url_type = #{urlType},
            </if>
            <if test="isupdate != null">
                is_update = #{isupdate},
            </if>
            <if test="api != null">
                api = #{api},
            </if>
            <if test="visitorStorage != null">
                visitor_storage = #{visitorStorage},
            </if>
            <if test="userStorage != null">
                user_storage = #{userStorage},
            </if>
            <if test="blacklist != null">
                blacklist = #{blacklist},
            </if>
            <if test="userclose != null">
                userclose = #{userclose}
            </if>
        </set>
        where id=1
    </update>


</mapper>